[Service]
ExecStart=
ExecStart=/usr/bin/docker daemon -H 0.0.0.0:2375 -H=unix:///var/run/docker.sock --tlsverify --tlscacert /home/centos/.docker/ca.pem --tlscert /home/centos/.docker/cert.pem --tlskey /home/centos/.docker/key.pem
