TZ=America/Chicago
# git auto-pull
*/1 * * * * root cd /mnt/volume/shared/accy570/readonly && /usr/bin/git pull origin master 2>&1 | /usr/bin/ts "\%F \%T" >> /var/log/cron.log
*/1 * * * * root cd /mnt/volume/shared/accy571/readonly && /usr/bin/git pull origin master 2>&1 | /usr/bin/ts "\%F \%T" >> /var/log/cron.log
# An empty line is required at the end of this file for a valid cron file.

